// Insert your Guarding API Key below and rename this file to variables.js
// Get API key from here https://open-platform.theguardian.com/access/
export const GUARDIAN_API_KEY =  'your-guardian-api-key-here'
